htdocs/*
!htdocs/wp-content
htdocs/wp-content/*
!htdocs/wp-content/plugins
htdocs/wp-content/plugins/*
!htdocs/wp-content/plugins/mailhog

!htdocs/wp-content/themes
htdocs/wp-content/themes/*
!htdocs/wp-content/themes/mytheme
!htdocs/wp-content/themes/mytheme-sass
htdocs/wp-content/themes/mytheme-sass/node_modules
htdocs/wp-content/themes/mytheme-sass/style.css.map
htdocs/wp-content/themes/mytheme-sass/style.css

helper/root/.*
!helper/root/.my.cnf
!helper/root/.ssh
helper/root/.ssh/*
!helper/root/.ssh/.gitkeep
sync.sql

.DS_Store
node_modules
.tmp
npm-debug.log
